{% extends "jag/base.html" %}

{% block content %}
<h1>Paintings</h1>
    {% for painting in paintings %}
        <div class="flex flex-warp text-center bg-white rounded-lg shadow-lg items-center justify-center mt-10 mb-20"> 
            <img class="res-image mx-auto object-cover rounded-lg" src="{{ painting.image.url }}" alt="Image here">
            <div class="flex flex-col items-center justify-center">
                <h2 class="mr-20">{{ painting.name }}</h2>
                <p class="mr-20">Price: ₹{{ painting.price }}</p>
                <p class="mr-20">Rating: {{ painting.rating }}⭐</p>
                <a href="/ordered"><button type="button" class="btn btn-primary mr-20" >Buy</button></a>
            </div>
        </div>
    {% endfor %}
    
{% endblock content %}