{% extends "jag/base.html" %}

{% block content %}
    <h1>Mobiles</h1>
    {% for mobile in mobiles %}
        <div class="flex flex-warp text-center bg-white rounded-lg shadow-lg items-center justify-center mt-10 mb-20 ml-10"> 
            <img class="res-image mx-auto object-cover rounded-lg" src="{{ mobile.image.url }}" alt="Image here">
            <div class="flex flex-col items-center justify-center">
                <h2 class="mr-20">{{ mobile.name }}</h2>
                <p class="mr-20">Price: ₹{{ mobile.price }}</p>
                <p class="mr-20">Rating: {{ mobile.rating }}⭐</p>
                <a href="/ordered"><button type="button" class="btn btn-primary mr-20" >Buy</button></a>
            </div>
        </div>
    {% endfor %}
    
{% endblock content %}